root = true

## Global ##
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true


## Indentation and Spacing ##
[*]
indent_size = 4
indent_style = space
tab_width = 4

[*.cs]
indent_size = 4
indent_style = space
tab_width = 4

[*.{csproj,xml}]
indent_size = 2
indent_style = space
tab_width = 2
